body 
{
	font-family: 'Raleway', sans-serif;
}

img
{
	size: 20px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size:20px;
    color: #000;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
}

