body 
{
	font-family: 'Raleway', sans-serif;
	color: #000;
}

img
{
	size: 20px;
}

header
{
    width: auto;
    margin: 50px;
}

#entete
{
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#entete img
{
    width: 100px;
    height: 50px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 30px;
}

nav a
{
    font-size:15px;
    color: #000;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: solid;
    border-color: #0065FC;
    border
}

